* {
    font-family: 'Arial' ;
}

/* USER.HTML STYLES */
table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    border-collapse: separate;
    border-spacing: 0;
}

body {
    position: relative;
}

th {
    color: white;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 0.25px solid white;
    padding: 0.5rem;
    border: 1px solid 'white';
    background-color: #ebebeb;
}

th {
    background-color: #363636;

}


/* rounding corners of table */
table tr:first-child th:first-child {
    border-top-left-radius: 0.5rem;
}
table tr:first-child th:last-child {
    border-top-right-radius: 0.5rem;
}
table tr:last-child td:last-child {
    border-bottom-right-radius: 0.5rem;
}
table tr:last-child td:first-child {
    border-bottom-left-radius: 0.5rem;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* USER_FORM STYLES */
form {
    /* background-color:grey; */
}

#fname #lname #company-name #phNumber {
    
}