<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>


<body>     
    <div id="admin-login">
          <h1>
            Admin Login
        </h1>
        <form 
            id="login-form"
            method="POST"
            action="/login"
        >
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username" required><br>

                <label for="password">Password:</label><br>
                <input type="text" id="password" name="password" required><br>

                <button type="submit" id="admin-submit">Submit</button>

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div id="incorrect-message">
                            {% for message in messages %}
                                <p style="color: red">{{ message }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}


        </form>
    </div>  

</html>